_ReSharper.Caches
.idea
*.exe
obj
bin
*.db
appsettings*
publish
/src/DiscordMultiBot.App/EmbedLayouts
/src/DiscordMultiBot.App/Configuration
/src/DiscordMultiBot.App/Tools
/src/DiscordMultiBot.App/Databases
/src/DiscordMultiBot.App/Audios
